<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>    
    <div class="container ">
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1 mx-auto">Welcome To Event Management</span>
            </div>
        </nav>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card  w-75">
                            <div class="card-body">
                                <h5 class="card-title">View All Events</h5>
                                <p class="card-text">View All Upcoming And Past Events In Database</p>
                                <a href="#" class="btn btn-secondary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 ">
                        <div class="card  w-75">
                            <div class="card-body">
                                <h5 class="card-title">Add New Client</h5>
                                <p class="card-text">Add New Client to Database</p>
                                <a href="#" class="btn btn-secondary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card w-75">
                            <div class="card-body">
                                <h5 class="card-title">Add New Venue</h5>
                                <p class="card-text">Create A New Venue In The Database</p>
                                <a href="#" class="btn btn-secondary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card w-75">
                            <div class="card-body">
                                <h5 class="card-title">Add New Event</h5>
                                <p class="card-text">Add A New Event With A Venue And Client And Other Details</p>
                                <a href="#" class="btn btn-secondary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card w-75">
                            <div class="card-body">
                                <h5 class="card-title">Delete Venue</h5>
                                <p class="card-text">Delete Any Venue Which Is Not Used From the Database</p>
                                <a href="#" class="btn btn-secondary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card w-75">
                            <div class="card-body">
                                <h5 class="card-title">Update Event Status</h5>
                                <p class="card-text">Update Any Event Status In Case Its Cancelled</p>
                                <a href="#" class="btn btn-secondary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
                <nav class="navbar navbar-dark bg-dark">
                    <div class="container-fluid">
                        <span class="navbar-brand p-2 h1 ""></span>
                    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>
</html>